<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <th>Date</th>
            <th>From</th>
            <th>To</th>
            <th>Cost</th>
        </tr>
        <% for(var i in challans){ %>
            <tr>
                <td> <%= challans[i].date %> </td>
                <td> <%= routes[challans[i].rid].from %> </td>
                <td> <%= routes[challans[i].rid].to %> </td>
                <td> <%= routes[challans[i].rid].cost %> </td>
            </tr>
        <% } %>
    </table>
</body>
</html>