<html>
<head>
<title>Confimation form</title>
<style>
* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}
</style>

</head>
<body style="color:skyblue;background-image:url(https://backgrounddownload.com/wp-content/uploads/2018/09/music-in-background-app.jpg)">
<fielsdet>
 <form id="editChallanForm" action="/editNewChallan" method="POST">
    <input type="hidden" name="cid" id="cid" value="<%= cid %>">
  <div class="container">
    <h1 align="center">Confirm Challan</h1>
    <hr>
	<label for="to"><b>Route</b></label>
	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <select name="routeId" id="route" required>
  </select>
    <hr>
    <label for="date"><b>Date Of Challan</b></label>
    <% var date = cdate.split("-"); var string = ("20"+date[2]).slice(-4)+"-"+("0"+date[1]).slice(-2)+"-"+("0"+date[0]).slice(-2); %>
    <input type="date" id="cdate" placeholder="Enter Date" name="date" value="<%= string %>" required>
	<hr>
	<label for="fare"><b>Fare</b></label>
    <input type="text" id="fare" placeholder="Fare" name="fare" required disabled>
    <hr>
    <button type="button" class="registerbtn" style="background-color:blue">Confirm Challan</button>
  </div>
</form> 
</fieldset>


<script src="/static/jquery/jquery-3.4.1.min.js"></script>
<script>


var value_to_cost = {};

$(document).ready(function(){


  $(".registerbtn").click(function(){
    $("#editChallanForm").submit();
  })

    $.post("/getAllRoutes",{},function(data,status){
        if(status == "success"){
            console.log(data);
            var cid = $("#cid").val();
            for(var i=1;i<data.length;++i){

                if(data[i].id == cid){
                    $("#fare").val( data[1].cost );
                value_to_cost[data[i].id] = data[i].cost;
                var option = $("<option/>",{
                    value:data[i].id,
                    text:data[i].from+" To "+data[i].to,
                    "data-cap":data[i].cost,
                });
                $("#route").append(option);
                }

            }
            for(var i=1;i<data.length;++i){

                if(data[i].id != cid){
                    $("#fare").val( data[1].cost );
                value_to_cost[data[i].id] = data[i].cost;
                var option = $("<option/>",{
                    value:data[i].id,
                    text:data[i].from+" To "+data[i].to,
                    "data-cap":data[i].cost,
                });
                $("#route").append(option);
                }

            }


        }
    });

    $("#route").change(function(){
        $("#fare").val( value_to_cost[$("#route").val()] );
    });


});
</script>

</body>
</html>