<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">My Challans</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                    <!-- <li class="nav-item active">
                      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                  -->
                   
                    <!--
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                    </li> -->
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
              <hr>
              <div class="container justify-content-center mt-4">

                <div class="row">
                   <div class="col-md-4 col-lg-4">
               <div class="card" style="width: 25rem;">

            <% for(var i in challans){ %>

                <div class="card">
                        <div class="card-header">
                          Challan: <%= i %>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title"><b><%= routes[challans[i].rid].from %></b> To <b><%= routes[challans[i].rid].to %></b></h5>
                          <p class="card-text">Fare: <b><%= routes[challans[i].rid].cost %></b></p>
                          <p class="card-text">Date: <b><%= challans[i].date %></b></p>
                          
                          <% var type = challans[i].status %>
                          <% if(type == true){ %>
                            <a href="/viewChallan/<%=i%>" class="btn btn-outline-primary">View Challan</a>
                        <% } else { %>
                            <a href="#" class="btn btn-outline-primary cfm" data-cap="<%=i%>">Confirm Challan</a>
                        <% } %>
                        </div>
                      </div>
                      <hr>
            <% } %>


    </div>
    </div>
    <div class="col-md-2"></div>
<div class="col-md-4 col-lg-4">
<div class="card " style="width: 25rem;"> 
	<div class="card">
		<div class="card-header">Create new Challan</div>
		<p class="card-text">
            <a class="btn btn-primary-white btn-round btn-lg" href="/newChallan" style="font-size:800%;width:100%">+</a>

		</p>

</div>
</div>
</div>
</div>
</div>

    <form method="POST" id="myform" action="/confirmChallan">
    <input type="hidden" id="challanId" name="challanId">
    </form>

    <script>
    $(document).ready(function(){

        $(".cfm").click(function(event){
            var value = $(event.target).attr("data-cap");
            $("#challanId").val(value);
            $("#myform").submit();
        });

        
    });
    </script>
</body>
</html>