<head>
<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">


  <style>
  *, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nunito', sans-serif;
    color: #384047;
  }
  
  form {
    max-width: 300px;
    margin: 10px auto;
    padding: 10px 20px;
    background: #f4f7f8;
    border-radius: 8px;
	overflow:auto;
	height:97%;
  }
  
  h1 {
    margin: 0 0 30px 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="datetime"],
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="tel"],
  input[type="time"],
  input[type="url"],
  textarea,
  select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }
  
  input[type="radio"],
  input[type="checkbox"] {
    margin: 0 4px 8px 0;
  }
  
  select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }
  
  fieldset {
    margin-bottom: 30px;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 10px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #5fcf80;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 100%;
  }
  
  @media screen and (min-width: 480px) {
  
    form {
      max-width: 480px;
    }
  }
  .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 19px;
}
  </style>
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Sign Up</title>
          <link rel="stylesheet" href="css/normalize.css">
          <link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
          <link rel="stylesheet" href="css/main.css">
      </head>
      <body style="color:blue;background-image:url(/static/TekSystemsImg/01.jpeg)">
  <center><div class="card" >
        <form action="/signup" method="post">
        
          <h1>Sign Up</h1>
          
          <fieldset>
      <!-- <legend><span class="number"></span>Your basic info</legend>-->
            <input type="email" id="email" placeholder="Enter email" title="Enter your email" name="email" style="border:red">

            <input type="text" id="name" placeholder="Enter name" title="Enter name" name="name">
            
            <input type="tel" id="phone" placeholder="Enter phone" pattern="[1-9]{1}[0-9]{9}" title=" Enter Phone" title="Enter 10 digit mobile number" name="phone">
           
            <input type="date" value=" " id="dob" placeholder="Enter DOB" name="dob" title="Enter current date" required>
            
            <input type="text" id="licence" placeholder="Enter Licence Number" name="licence" title="Enter Licence Number"  onkeypress="this.value = this.value.toString().toUpperCase()" >

            <input type="password" id="password" placeholder="Enter Password" name="password" title="Enter Password" pattern=".{6,}">
			
			<input type="password" id="confirmpassword" placeholder="Confirm Password" title="Confirm Password" name="confimpassword" pattern=".{6,}">
            
            

          </fieldset>
          </fieldset>
          <button type="submit" class="btn btn-primary" style="width:100%; margin-top:-25px" onclick="return confirmpass()">Sign Up</button>
        <br><br>
		Already have an account !<a href="/login">&nbsp;&nbsp;Signin</a>
		</form>
      </div> </center>
      </body>
	  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <script>
  function confirmpass()
  {
  if(document.getElementById("password").value!=document.getElementById("confirmpassword").value)
  {
  alert("Password Mismatched");
  return false;
  }
  return true;
  }
  </script>
  </html>